﻿<!DOCTYPE html>
<html lang="en">
<head>
    <title>Soho Networks LLC</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/Content/admin/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/admin/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="~/Content/admin/css/fullcalendar.css" />
    <link rel="stylesheet" href="~/Content/admin/css/matrix-style.css" />
    <link rel="stylesheet" href="~/Content/admin/css/matrix-media.css" />
    <link href="~/Content/admin/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/admin/css/jquery.gritter.css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
</head>
<body>
    <div id="header">
        <h1><a href="dashboard.html"></a></h1>
    </div>
    <!--close-Header-part-->
    <!--top-Header-menu-->
    <div id="user-nav" class="navbar navbar-inverse">
        <ul class="nav">
            <li class="dropdown" id="profile-messages">
                <a title="" href="" data-toggle="dropdown" data-target="#profile-messages" class="dropdown-toggle"><i class="icon icon-user"></i>  <span class="text">@Session["admin"]</span><b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li class="divider"></li>
                    <li><a href="@Url.Action("Logout","Dashboard")"><i class="icon-key"></i> Log Out</a></li>
                </ul>
            </li>
            </ul>
        </div>
    <!--sidebar-menu-->
    <div id="sidebar">
        <a href="#" class="visible-phone"><i class="icon icon-home"></i> Dashboard</a>
        <ul>
            <li class="active"><a href="@Url.Action("Index","Dashboard")"><i class="icon icon-home"></i> <span>Dashboard</span></a> </li>
            <li class="submenu">
                <a href="#"><i class="icon icon-user"></i> <span>Customer</a>
                <ul>
                    <li><a href="@Url.Action("AddCustomer","Dashboard")">AddCustomer</a></li>
                    <li><a href="@Url.Action("listOfCustomer","Dashboard")">View Customers</a></li>
                </ul>
            </li>
            <li class="">
                <a href="@Url.Action("AddFile","Dashboard")"><i class="icon icon-file"></i> <span>Add Files</span></a>
            </li>
        </ul>
    </div>
    <!--sidebar-menu-->
    <!--main-container-part-->
    <div id="content">
        <!--breadcrumbs-->
        <div id="content-header">
            <div id="breadcrumb"> <a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a></div>
        </div>
        <!--End-breadcrumbs-->
        <!--Action boxes-->
        
            @RenderBody();
            <!--Footer-part-->
            </div>
            <div class="row-fluid">
                <div id="footer" class="span12">  &copy; Soho Network LLC </div>
            </div>

            <!--end-Footer-part-->

            <script src="~/Content/admin/js/excanvas.min.js"></script>
            <script src="~/Content/admin/js/jquery.min.js"></script>
            <script src="~/Content/admin/js/jquery.ui.custom.js"></script>
            <script src="~/Content/admin/js/bootstrap.min.js"></script>
            <script src="~/Content/admin//jquery.flot.min.js"></script>
            <script src="~/Content/admin/js/jquery.flot.resize.min.js"></script>
            <script src="~/Content/admin/js/jquery.peity.min.js"></script>
            <script src="~/Content/admin/js/fullcalendar.min.js"></script>
            <script src="~/Content/admin/js/matrix.js"></script>
            <script src="~/Content/admin/js/matrix.dashboard.js"></script>
            <script src="~/Content/admin/js/jquery.gritter.min.js"></script>
            <script src="~/Content/admin/js/matrix.interface.js"></script>
            <script src="~/Content/admin/js/matrix.chat.js"></script>
            <script src="~/Content/admin/js/jquery.validate.js"></script>
            <script src="~/Content/admin/js/matrix.form_validation.js"></script>
            <script src="~/Content/admin/js/jquery.wizard.js"></script>
            <script src="~/Content/admin/js/jquery.uniform.js"></script>
            <script src="~/Content/admin/js/select2.min.js"></script>
            <script src="~/Content/admin/js/matrix.popover.js"></script>
            <script src="~/Content/admin/js/jquery.dataTables.min.js"></script>
            <script src="~/Content/admin/js/matrix.tables.js"></script>

            <script type="text/javascript">
                // This function is called from the pop-up menus to transfer to
                // a different page. Ignore if the value returned is a null string:
                function goPage(newURL) {

                    // if url is empty, skip the menu dividers and reset the menu selection to default
                    if (newURL != "") {

                        // if url is "-", it is this page -- reset the menu:
                        if (newURL == "-") {
                            resetMenu();
                        }
                        // else, send page to designated URL
                        else {
                            document.location.href = newURL;
                        }
                    }
                }

                // resets the menu selection upon entry to this page:
                function resetMenu() {
                    document.gomenu.selector.selectedIndex = 2;
                }
            </script>
</body>
</html>

