﻿<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Soho Networks LLC</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="Soho Networks" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- bootstrap-css -->
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!--// bootstrap-css -->
    <!-- css -->
    <link rel="stylesheet" href="~/Content/css/style.css" type="text/css" media="all" />
    <!--// css -->
    <!-- font-awesome icons -->
    <link href="~/Content/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome icons -->
    <!-- font -->
    <link href="//fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <!-- //font -->
    <script src="~/Content/js/jquery-1.11.1.min.js"></script>
    <script src="~/Content/js/bootstrap.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <!-- animation -->
    <link href="~/Content/css/animate.css" rel="stylesheet" type="text/css" media="all">
    <script src="~/Content/js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <style>
        .w3layouts-logo h1 a span:before{
            height:0px !important;
        }
        .w3layouts-logo h1 a span:after {
            height: 0px !important;
        }
        .ab-w3-agile-info-text h2, .w3-agile-heading h3, .wthree-heading h2{
            color:#65b390;
        }
        .top-nav ul li a.active {
            color: #65b390 !important;
        }
        .top-nav ul li a:hover {
            color: #65b390 !important;
        }
        .w3agile_footer_copy p a {
            color: #65b390 !important;
        }
    </style>
    <!-- //animation -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <![endif]-->
</head>
<body>
    <!-- banner -->
    <div class="banner">
        <div class="header-top-grids">
            <div class="header">
                <div class="header-left">
                    <div class="w3layouts-logo">
                        <h1>
                            <a href="index.html"><img src="~/Content/images/sohonetworkslogo_2.png" /> <span>Soho Networks LLC</span></a>
                        </h1>
                    </div>
                </div>
            </div>
            <div class="top-nav">
                <div class="top-nav-info">
                    <nav class="navbar navbar-default">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li><a class="active" href="@Url.Action("Index","Home")">Home</a></li>
                                <li><a href="@Url.Action("Gallery","Home")">Gallery</a></li>
                                <li><a href="@Url.Action("About","Home")">About</a></li>
                                <li><a href="@Url.Action("Contact","Home")">Contact</a></li>
                            </ul>
                            <div class="clearfix"> </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <div>
            <br />
            <br />
        </div>
    </div>
        @RenderBody()
        <!-- footer -->
        <div class="footer">
            <div class="container">
                <div class="w3agile_footer_copy">
                    <p>Developed by <a href="http://www.ubssols.com/"><b>UBS Solutions</b></a></p>
                </div>
            </div>
        </div>
        <!-- //footer -->
        <script src="~/Content/js/responsiveslides.min.js"></script>
        <script src="~/Content/js/jarallax.js"></script>
        <script src="~/Content/js/SmoothScroll.min.js"></script>
        <script type="text/javascript">
            /* init Jarallax */
            $('.jarallax').jarallax({
                speed: 0.5,
                imgWidth: 1366,
                imgHeight: 768
            })
        </script>
        <script type="text/javascript" src="~/Content/js/move-top.js"></script>
        <script type="text/javascript" src="~/Content/js/easing.js"></script>
        <!-- here stars scrolling icon -->
        <script type="text/javascript">
            $(document).ready(function () {
                /*
                    var defaults = {
                    containerID: 'toTop', // fading element id
                    containerHoverID: 'toTopHover', // fading element hover id
                    scrollSpeed: 1200,
                    easingType: 'linear'
                    };
                */

                $().UItoTop({ easingType: 'easeOutQuart' });

            });
        </script>
        <!-- //here ends scrolling icon -->
</body>
</html>