﻿
@{
    ViewBag.Title = "AddCustomer";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <hr>
    @if (ViewBag.message == null)
    {
        <div class=">
           
        </div>
    }
    else{
    <div class="alert alert-success" role="alert">
    <strong></strong> @ViewBag.message
    </div>
    }
    
    <div class="row-fluid">
        <div class="sp span6">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"> <i class="icon-align-justify"></i> </span>
                    <h5>Customer-info</h5>
                </div>
                <div class="widget-content nopadding">
                    <form action="@Url.Action("Signup","Home")" method="post" class="form-horizontal">
                        <div class="control-group">
                            <label class="control-label">Name :</label>
                            <div class="controls">
                                <input type="text" name="UserName" class="span11" placeholder="Nname" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Contact no :</label>
                            <div class="controls">
                                <input type="text" name="UserPhone" class="span11" placeholder="Phone" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Email :</label>
                            <div class="controls">
                                <input type="email" name="UserEmail" class="span11" placeholder="Email" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Password :</label>
                            <div class="controls">
                                <input type="password" name="UserPassword" class="span11" placeholder="Enter Password" />
                            </div>
                        </div>
                        
                        <div class="form-actions">
                            <button type="submit" class="btn btn-success pull-right">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        </div>
</div>

