﻿
@{
    ViewBag.Title = "AddFile";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container-fluid">
    <hr>
    @if (ViewBag.message == null)
    {
        <div class="">

        </div>
        }
        else{
        <div class="alert alert-success" role="alert">
            <strong></strong> @ViewBag.Message
        </div>
    }

    <div class="row-fluid">
        <div class="sp span6">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"> <i class="icon-align-justify"></i> </span>
                    <h5>Customer-info</h5>
                </div>
                <div class="widget-content nopadding">
                    <form action="@Url.Action("Upload","Home")" method="post" enctype="multipart/form-data" class="form-horizontal">
                        <div class="control-group">
                            <label class="control-label">File Name :</label>
                            <div class="controls">
                                <input type="text" name="ContentName" placeholder="File Name" required="" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Upload :</label>
                            <div class="controls">
                                <input input  name="Source" type="file" required="" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Content Note :</label>
                            <div class="controls">
                                <textarea name="ContentNote" placeholder="Write note here" required=""></textarea>
                            </div>
                        </div>

                        <div class="form-actions">
                            <button type="submit" class="btn btn-success pull-right">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

