﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
@@media only screen(max-width:480px){
    #soho{
        font-size:30px;
    }
                                   }
</style>
<div class="container-fluid">
    <div class="quick-actions_homepage">
        <ul class="quick-actions text-center" style="margin-left:40%;">
            <li class="bg_lb "> <a href="interface.html" > <i class="icon-user"></i>Customers: @ViewBag.total</a> </li>

        </ul>
    </div>
    <!--End-Action boxes-->
    <div>
        <h1 id="soho" class="text-center" style="font-size:120px; color:#68A988; margin-top:150px; opacity:0.3;">Soho Networks LLC</h1>
    </div>
    </div>

