﻿
@{
    ViewBag.Title = "listOfCustomer";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using PersonalDrive.Models;
<div class="container-fluid">
    <hr>
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon"><i class="icon-th"></i></span>
                    <h5>Data table</h5>
                </div>
                <div class="widget-content nopadding">
                    <table class="table table-bordered data-table">
                        <thead>
                            <tr>
                                <th>Customer Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Password</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (User item in Model)
                            {


                            <tr class="gradeX">
                                <td>@item.UserName</td>
                                <td>
                                    @item.UserEmail
                                </td>
                                <td>@item.UserPhone</td>
                                <td>@item.UserPassword</td>
                                <td class="center"><a href="@Url.Action("removeUser","Dashboard",new { id=item.UserId})">Delete</a></td>
                               
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            </div>
        </div>
    </div>
<!--end-Footer-part-->




