﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Soho NetworksLLC</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/Content/admin/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/admin/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="~/Content/admin/css/matrix-login.css" />
    <link href="~/Content/admin/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>

</head>
<body>
    <div id="loginbox">
        <form id="loginform" class="form-vertical" action="@Url.Action("login","Dashboard")" method="post">
            <div class="control-group normal_text"> <h3><img src="~/Content/images/sohonetworkslogo_2.png" /></h3></div>
            <div class="control-group">
                <div class="controls">
                    <div class="main_input_box">
                        <span class="add-on bg_lg"><i class="icon-user"> </i></span><input type="text" name="email" placeholder="Email" />
                    </div>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <div class="main_input_box">
                        <span class="add-on bg_ly"><i class="icon-lock"></i></span><input type="password" name="password" placeholder="Password" />
                    </div>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <div class="main_input_box">
                        <p class="text-danger">@ViewBag.error</p>
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <span class="pull-left"></span>
                <span class="pull-right"><button type="submit" class="btn btn-success">Login</button></span>
            </div>
        </form>
    </div>

    <script src="~/Content/admin/js/jquery.min.js"></script>
    <script src="~/Content/admin/js/matrix.login.js"></script>
</body>

</html>

