﻿ <!-- Main -->
<div id="main">
    <div class="inner">

        <!-- Boxes -->
        <div class="thumbnails">
            <link rel="stylesheet" href="~/Content/assets/css/main.css" />
            <div class="box">
                <a href="https://youtu.be/s6zR2T9vn2c" class="image fit"><img src="images/pic01.jpg" alt="" /></a>
                <div class="inner">
                    <h3>Nascetur nunc varius commodo</h3>
                    <p>Interdum amet accumsan placerat commodo ut amet aliquam blandit nunc tempor lobortis nunc non. Mi accumsan.</p>
                    <a href="https://youtu.be/s6zR2T9vn2c" class="button fit" data-poptrox="youtube,800x400">Watch</a>
                </div>
            </div>

            <div class="box">
                <a href="https://youtu.be/s6zR2T9vn2c" class="image fit"><img src="images/pic02.jpg" alt="" /></a>
                <div class="inner">
                    <h3>Nascetur nunc varius commodo</h3>
                    <p>Interdum amet accumsan placerat commodo ut amet aliquam blandit nunc tempor lobortis nunc non. Mi accumsan.</p>
                    <a href="https://youtu.be/s6zR2T9vn2c" class="button style2 fit" data-poptrox="youtube,800x400">Watch</a>
                </div>
            </div>

            <div class="box">
                <a href="https://youtu.be/s6zR2T9vn2c" class="image fit"><img src="images/pic03.jpg" alt="" /></a>
                <div class="inner">
                    <h3>Nascetur nunc varius commodo</h3>
                    <p>Interdum amet accumsan placerat commodo ut amet aliquam blandit nunc tempor lobortis nunc non. Mi accumsan.</p>
                    <a href="https://youtu.be/s6zR2T9vn2c" class="button style3 fit" data-poptrox="youtube,800x400">Watch</a>
                </div>
            </div>

            <div class="box">
                <a href="https://youtu.be/s6zR2T9vn2c" class="image fit"><img src="images/pic04.jpg" alt="" /></a>
                <div class="inner">
                    <h3>Nascetur nunc varius commodo</h3>
                    <p>Interdum amet accumsan placerat commodo ut amet aliquam blandit nunc tempor lobortis nunc non. Mi accumsan.</p>
                    <a href="https://youtu.be/s6zR2T9vn2c" class="button style2 fit" data-poptrox="youtube,800x400">Watch</a>
                </div>
            </div>

            <div class="box">
                <a href="https://youtu.be/s6zR2T9vn2c" class="image fit"><video src="~/Images/Video/1-Laravel%205%20Tutorial%20for%20Beginners%20in%20Hindi%20(%20Composer%20&%20Installing%20Laravel%20)%20_%20Part-1173002503.mp4" type="video/mp4" alt="" ></video></a>
                <div class="inner">
                    <h3>Nascetur nunc varius commodo</h3>
                    <p>Interdum amet accumsan placerat commodo ut amet aliquam blandit nunc tempor lobortis nunc non. Mi accumsan.</p>
                    <a href="https://youtu.be/s6zR2T9vn2c" class="button style3 fit" data-poptrox="youtube,800x400">Watch</a>
                </div>
            </div>

            <div class="box">
                <a href="https://youtu.be/s6zR2T9vn2c" class="image fit"><img src="images/pic06.jpg" alt="" /></a>
                <div class="inner">
                    <h3>Nascetur nunc varius commodo</h3>
                    <p>Interdum amet accumsan placerat commodo ut amet aliquam blandit nunc tempor lobortis nunc non. Mi accumsan.</p>
                    <a href="https://youtu.be/s6zR2T9vn2c" class="button fit" data-poptrox="youtube,800x400">Watch</a>
                </div>
            </div>

        </div>

    </div>
</div>
<script src="~/Content/assets/js/jquery.min.js"></script>
<script src="~/Content/assets/js/jquery.scrolly.min.js"></script>
<script src="~/Content/assets/js/jquery.poptrox.min.js"></script>
<script src="~/Content/assets/js/skel.min.js"></script>
<script src="~/Content/assets/js/util.js"></script>
<script src="~/Content/assets/js/main.js"></script>