﻿
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- banner-bottom -->
<div class="banner-bottom" id="about">
    <div class="container">
        <div class="col-md-12 banner_bottom_left">
            <h3 style="text-align:left;">Soho Networks LLC</h3>
            <p style="text-align:left;"><i>Soho Networks</i> Soho Networks is video transfer specialty business located in Olympia, WA. Our customers are located all over the USA and trust us to transfer their precious memories. Are site is easy to navigate and find the information you are looking for. We specialize in transferring media to digital and offer a lot more services than in listed on this site. But to make it easy, we have listed only a limited the number of services on this site. If you have anything special you need to be done, please give us a call or send us an email. We'll be happy to help you if we can. We have been working in the multi-media industry for 30 years, and understand the importance of preserving old videos, whether for personal or professional use. Our goal has always been to educate the public on how to properly transfer old tapes, film reels, slides & photos, and other media to Digital Formats. Some videos, like a wedding or retirement party, are fun to watch 20 years later in a Digital Format, where you can see how you and your loved ones have grown and matured. Similarly, many businesses and government agencies have used our services to have media transferred to Digital Formats for archiving purposes.<br />

We take pride in the fact that we provide secure and safe handling of precious media, and high-quality transfers. we have a very easy and affordable ordering process and have the most affordable pricing you will find anywhere. We take pride in every order we complete and this is why we can offer my customers an unconditional 30-Day Money Back Guarantee. You can be assured that we will do everything to meet or exceed your expectations. We truly desire your satisfaction. The glowing compliments from customers are not the exception, but the rule. Your satisfaction is guaranteed!<br />

We also offer many computer repair & networking services to fit your needs.  From networking to PC repair, we’re here for you.  Our talented team can quickly come up with a resolution to get your computer back up and running.</p>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!-- banner-bottom -->
<!-- choose -->
<div class="w3-agileits-choose">
    <div class="container">
        <div class="w3-agile-heading">
            <h3>Why choose us?</h3>
        </div>
        <div class="agile-choose-grids">
            <div class="col-sm-4 agile-choose-grid">
                <div class="choose-icon">
                    <i class="fa fa-user" aria-hidden="true"></i>
                </div>
                <div class="choose-info">
                    <h4>Safe</h4>
                    </div>
            </div>
            <div class="col-sm-4 agile-choose-grid">
                <div class="choose-icon">
                    <i class="fa fa-cogs" aria-hidden="true"></i>
                </div>
                <div class="choose-info">
                    <h4>Secure</h4></div>
            </div>
            <div class="col-sm-4 agile-choose-grid">
                <div class="choose-icon">
                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                </div>
                <div class="choose-info">
                    <h4>Large Storage</h4></div>
            </div>
        </div>
    </div>
</div>
<!-- //choose -->

