﻿
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

	<!-- contact -->
<div class="contact">
    <div class="w3l-about w3l-team">
        <div class="container">
            <!-- map -->
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d366417.1205943117!2d-118.4272152627014!3d34.0091834751898!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c75ddc27da13%3A0xe22fdf6f254608f4!2sLos+Angeles%2C+CA%2C+USA!5e0!3m2!1sen!2sin!4v1472444937012" style="border:0" allowfullscreen></iframe>
            </div>
            <!-- //map -->
            <div class="agile-contact-grids">
                <div class="col-md-5 address">
                    <div class="address-row">
                        <div class="col-md-2 w3-agile-address-left">
                            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                        </div>
                        <div class="col-md-10 w3-agile-address-right">
                            <h5>Visit Us</h5>
                            <p>123 Fourth Avenue, Seattle Wa 98104, Los Angeles </p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="address-row">
                        <div class="col-md-2 w3-agile-address-left">
                            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                        </div>
                        <div class="col-md-10 w3-agile-address-right">
                            <h5>Mail Us</h5>
                            <p><a href="mailto:info@sohonetworksllc.com "> info@sohonetworksllc.com </a></p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="address-row">
                        <div class="col-md-2 w3-agile-address-left">
                            <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
                        </div>
                        <div class="col-md-10 w3-agile-address-right">
                            <h5>Call Us</h5>
                            <p>360-799-5533 </p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="col-md-7 contact-form">
                    <form action="@Url.Action("ContactUs","Home")" method="post">
                        <input type="text" name="Name" placeholder="First Name" required="">
                        <input class="email" name="Email" type="email" placeholder="Email" required="">
                        <input type="text" name="Number" placeholder="Mobile Number" required="">
                        <input class="email" name="Subject" type="text" placeholder="Subject" required="">
                        <textarea name="Message" placeholder="Message" required=""></textarea>
                        <div class="alert alert-success" role="alert">
                            @ViewBag.Message
                        </div>
                        <input type="submit" value="SUBMIT">

                    </form>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</div>
<!-- //contact -->

