﻿@model List<PersonalDrive.Models.VideoContent>
@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href='~/Content/css/simplelightbox.min.css' rel='stylesheet' type='text/css'>
<ul class="nav nav-tabs" id="myTab" role="tablist" class="text-center">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#home" role="tab" aria-controls="home">Videos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#profile" role="tab" aria-controls="profile">Images</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#messages" role="tab" aria-controls="messages">Audios</a>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="home" role="tabpanel">
        <style>
            .flex-row {
                display: flex;
                flex-wrap: wrap;
            }

                .flex-row > [class*='col-'] {
                    display: flex;
                    flex-direction: column;
                }

                .flex-row .thumbnail,
                .flex-row .caption {
                    flex-direction: column;
                    display: flex;
                    flex: 1 0 auto;
                    height: auto;
                    position: relative;
                }

            .flex-text {
                flex-grow: 1;
            }

            .flex-row img {
                min-width: 0;
                width: 100%;
            }
        </style>
        <div class="container">
            <div class="flex-row row">
                @if (Model == null)
                {
                    <h2 class="text-warning">There is no file to show.</h2>
                }

                @foreach (var item in Model)
                {


                <div class="col-xs-6 col-sm-4 col-lg-3">
                    <div class="thumbnail">
                        <video width="250" controls preload="none" autostart="false">
                            <source src="@Url.Content(item.ContentPath)" type="video/mp4">
                            
                        </video>
                        <div class="caption">
                            <h3>@item.ContentName</h3>
                                <p class="flex-text text-muted">
                                    @item.ContentNote
                                </p>
                                <p><a class="btn btn-primary" href="@Url.Action("VideodownloadFile","Home",new { id=item.Id})">Download</a></p>
                        </div>
                        <!-- /.caption -->
                    </div>
                    <!-- /.thumbnail -->
                </div>
                }

            </div>
            <!-- /.flex-row  -->
        </div>
        <!-- /.container  -->
    </div>
    <div class="tab-pane" id="profile" role="tabpanel">
        <!-- gallery -->
        <div class="gallery-top">
            <div class="container">
                <div class="gallery">
                    @*<div class="gallery-bg">
                        <div class="agileits-gallery gallery-bg-text effect-2">
                            <a href="~/Content/images/g1.jpg" class="big"><img src="~/Content/images/g1.jpg" alt="" title="Maecenas aliquam nec arcu at efficitur. Praesent cursus aliquam erat a commodo." /></a>
                            <a href="@Url.Action("Download","Home",new { id="~/Content/images/g1.jpg"})" class="btn btn-block btn-info">Download</a>
                        </div>
                    </div>*@
                    @if (ViewBag.imageList==null)
                    {
<h2 class="text-warning">There is no file to show.</h2>
                    }
                    @foreach (var item in ViewBag.imageList)
                    {


                    <div class="gallery-small gallery-middle">
                        <div class="agileits-gallery gallery-small-text effect-3">
                            <a href="@Url.Content(item.ContentPath)"><img src="@Url.Content(item.ContentPath)" alt="" title="Donec dictum nisi sit amet ex volutpat interdum." width="400" height="220"/> </a>
                            <br />
                            <a href="@Url.Action("ImagedownloadFile","Home",new { id=item.Id})" class="btn btn-block btn-info">Download</a>
                        </div>
                    </div>
                    }
                    <div class="clearfix"></div>


                </div>
                <script type="text/javascript" src="~/Content/js/simple-lightbox.js"></script>
                <script>
                    $(function () {
                        var $gallery = $('.gallery a').simpleLightbox();

                        $gallery.on('show.simplelightbox', function () {
                            console.log('Requested for showing');
                        })
                            .on('shown.simplelightbox', function () {
                                console.log('Shown');
                            })
                            .on('close.simplelightbox', function () {
                                console.log('Requested for closing');
                            })
                            .on('closed.simplelightbox', function () {
                                console.log('Closed');
                            })
                            .on('change.simplelightbox', function () {
                                console.log('Requested for change');
                            })
                            .on('next.simplelightbox', function () {
                                console.log('Requested for next');
                            })
                            .on('prev.simplelightbox', function () {
                                console.log('Requested for prev');
                            })
                            .on('nextImageLoaded.simplelightbox', function () {
                                console.log('Next image loaded');
                            })
                            .on('prevImageLoaded.simplelightbox', function () {
                                console.log('Prev image loaded');
                            })
                            .on('changed.simplelightbox', function () {
                                console.log('Image changed');
                            })
                            .on('nextDone.simplelightbox', function () {
                                console.log('Image changed to next');
                            })
                            .on('prevDone.simplelightbox', function () {
                                console.log('Image changed to prev');
                            })
                            .on('error.simplelightbox', function (e) {
                                console.log('No image found, go to the next/prev');
                                console.log(e);
                            });
                    });
                </script>
            </div>
        </div>
        <!-- //gallery -->
    </div>
    <div class="tab-pane" id="messages" role="tabpanel">
        <div class="container">
            <div class="flex-row row">
                @if (ViewBag.list == null)
                {
                    <h2 class="text-warning">There is no file to show.</h2>
                }

                @foreach (var item in ViewBag.list)
                {


                    <div class="col-xs-6 col-sm-4 col-lg-3">
                        <div class="thumbnail">
                            <Audio width="250" controls preload="none" autostart="false">
                                <source src="@Url.Content(item.ContentPath)" type="video/mp4">

                            </Audio>
                            <div class="caption">
                                <h3>@item.ContentName</h3>
                                <p class="flex-text text-muted">
                                    @item.ContentNote
                                </p>
                                <p><a class="btn btn-primary" href="@Url.Action("AudiodownloadFile", "Home",new { id=item.Id})">Download</a></p>
                            </div>
                            <!-- /.caption -->
                        </div>
                        <!-- /.thumbnail -->
                    </div>
                }

            </div>
            <!-- /.flex-row  -->
        </div>
    </div>
</div>

<script>
    $(function () {
        $('#myTab a:last').tab('show')
    })
</script>


