﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<div class="w3layouts-banner-slider">
    <div class="container">
        <div class="slider">
            <div class="callbacks_container">
                <ul class="rslides callbacks callbacks1" id="slider4">
                    <li>
                        <div class="top-agileits-banner">
                            <div class="agileits-banner-info">
                                <h3>Lorem ipsum</h3>
                                <div class="w3-button">
                                    <div class="w3ls-button">
                                        <a href="single.html">Read More</a>
                                    </div>
                                </div>
                                <div class="bounce animated">
                                    <a href="#welcome" class="scroll">
                                        <div class="mouse"></div>
                                    </a>
                                </div>
                            </div>
                            <div class="agileinfo-social-grids">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-rss"></i></a>
                                <a href="#"><i class="fa fa-vk"></i></a>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </li>
                    <li>
                        <div class="top-agileits-banner">
                            <div class="agileits-banner-info">
                                <h3>Donec posuere</h3>
                                <div class="w3-button">
                                    <div class="w3ls-button">
                                        <a href="single.html">Read More</a>
                                    </div>
                                </div>
                                <div class="bounce animated">
                                    <a href="#welcome" class="scroll">
                                        <div class="mouse"></div>
                                    </a>
                                </div>
                            </div>
                            <div class="agileinfo-social-grids">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-rss"></i></a>
                                <a href="#"><i class="fa fa-vk"></i></a>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </li>
                    <li>
                        <div class="top-agileits-banner">
                            <div class="agileits-banner-info">
                                <h3>Lorem ipsum</h3>
                                <div class="w3-button">
                                    <div class="w3ls-button">
                                        <a href="single.html">Read More</a>
                                    </div>
                                </div>
                                <div class="bounce animated">
                                    <a href="#welcome" class="scroll">
                                        <div class="mouse"></div>
                                    </a>
                                </div>
                            </div>
                            <div class="agileinfo-social-grids">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-rss"></i></a>
                                <a href="#"><i class="fa fa-vk"></i></a>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </li>
                    <li>
                        <div class="top-agileits-banner">
                            <div class="agileits-banner-info">
                                <h3>Donec posuere</h3>
                                <div class="w3-button">
                                    <div class="w3ls-button">
                                        <a href="single.html">Read More</a>
                                    </div>
                                </div>
                                <div class="bounce animated">
                                    <a href="#welcome" class="scroll">
                                        <div class="mouse"></div>
                                    </a>
                                </div>
                            </div>
                            <div class="agileinfo-social-grids">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-rss"></i></a>
                                <a href="#"><i class="fa fa-vk"></i></a>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="clearfix"> </div>
            <script>
							// You can also use "$(window).load(function() {"
							$(function () {
							  // Slideshow 4
							  $("#slider4").responsiveSlides({
								auto: true,
								pager:true,
								nav:false,
								speed: 500,
								namespace: "callbacks",
								before: function () {
								  $('.events').append("<li>before event fired.</li>");
								},
								after: function () {
								  $('.events').append("<li>after event fired.</li>");
								}
							  });

							});
            </script>
            <!--banner Slider starts Here-->
        </div>
    </div>
</div>*@

<!-- //banner -->
<!-- welcome -->
<div class="welcome" id="welcome">
    <div class="col-md-5 ab-w3-agile-img">

    </div>
    <div class="col-md-7 ab-w3-agile-info">
        <div class="ab-w3-agile-info-text">
            <h2 class="title-w3">Welcome</h2>
            <p class="sub-text one">Soho Network LLC</p>
            <p>Soho Networks ​is video transfer specialty  business located in Olympia, WA.
​Our customers are located all over the USA and trust us to transfer their precious memories.
We specialize in transferring all types of media to digital formats. We can't list all the media services we do on this site, so if you need a particular service and you don't see it listed on this website, give us a call, there is a good chance we can still help you with your project.</p>

        </div>
        <div class="ab-w3-agile-inner">
            <div class="col-md-6 ab-w3-agile-part">
                <h4>Upload Personal Data</h4>
                <p>You can upload your personal data and golden memories that will be store for long time. You can download whenever you want.</p>
            </div>
            <div class="col-md-6 ab-w3-agile-part two">
                <h4>Large Storage and Secure</h4>
                <p>Your data will be store permanently and secure all the time.</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
 @*services 
<div class="services" id="services">
    <div class="container">
        <div class="w3-agile-heading">
            <h3>Upload Your Personal Data</h3>
        </div>
    </div>
</div>*@
<!-- //welcome -->
<!-- contact -->
@*<div class="contact">
    <div class="w3l-about w3l-team">
        <div class="container">
            <div class="agile-contact-grids">
                @*<div class="col-md-5 address">
                    <div class="address-row">
                        <div class="col-md-2 w3-agile-address-left">
                            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                        </div>
                        <div class="col-md-10 w3-agile-address-right">
                            <h5>Visit Us</h5>
                            <p>123 Fourth Avenue, Seattle Wa 98104, Los Angeles </p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="address-row">
                        <div class="col-md-2 w3-agile-address-left">
                            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                        </div>
                        <div class="col-md-10 w3-agile-address-right">
                            <h5>Mail Us</h5>
                            <p><a href="mailto:info@example.com"> mail@example.com</a></p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="address-row">
                        <div class="col-md-2 w3-agile-address-left">
                            <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
                        </div>
                        <div class="col-md-10 w3-agile-address-right">
                            <h5>Call Us</h5>
                            <p>+11 222 333 4444</p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="col-md-7 contact-form">
                    <form action="@Url.Action("Upload","Home")" method="post" enctype="multipart/form-data">
							<input type="text" name="ContentName" placeholder="File Name" required="">
							<input  name="Source" type="file" required="">
                        <br />
                        <br />

							<textarea name="ContentNote" placeholder="Write note here" required=""></textarea>
                        <div class="alert alert-success" role="alert">@ViewBag.Message</div>
							<input type="submit" value="SUBMIT">
						</form>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</div>*@
<!-- //contact -->

<!-- news -->
<div class="news jarallax">
    <div class="container">
        <div class="w3-agile-heading news-heading">
            <h3>Events And Ocassion Memories</h3>
        </div>
        <div class="news-grids">
            <div class=" col-md-4 section-grid-wthree one">
                <div class="services-info-w3-agileits">
                    <h5 class="sub-title"><a href="single.html">Upload Your Family Photos </a></h5>
                    <h6>Sep 06,2017 | By <a href="#">Admin</a></h6>
                    <p class="para-w3">You can upload your family photos.</p>
                </div>
                <div class="services-img-agileits-w3layouts">
                    <a href="single.html"><img src="~/cONTENT/images/5.jpg" alt="service-img"></a>
                </div>
            </div>
            <div class=" col-md-4 section-grid-wthree">
                <div class="services-img-agileits-w3layouts">
                    <a href="single.html"><img src="~/Content/images/6.PNG" alt="service-img"></a>
                </div>
                <div class="services-info-w3-agileits mid">
                    <h5 class="sub-title"><a href="single.html">Upload Videos </a></h5>
                    <h6>Sep 06,2017 | By <a href="#">Admin</a></h6>
                    <p class="para-w3">You can upload your family videos.</p>
                </div>
            </div>
            <div class=" col-md-4 section-grid-wthree">
                <div class="services-info-w3-agileits">
                    <h5 class="sub-title"><a href="single.html">Upload Audios/Recordings </a></h5>
                    <h6>Sep 06,2017 | By <a href="#">Admin</a></h6>
                    <p class="para-w3">You can upload your recordigs and audios.</p>
                </div>
                <div class="services-img-agileits-w3layouts">
                    <a href="single.html"><img src="~/Content/images/4.jpg" alt="service-img"></a>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- //news -->

